{% extends "sample.html" %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        {%if message == 'You need to be signed in for this page.' %}
            <div class="alert alert-success flashes" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ url_for('new') }}">BBC_news</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('list_news') }}">List news <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('download') }}">Download new</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tools') }}">Tools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="form">
        <form action="{{ url_for('tools') }}" method="post">
            <div class="form-group">
                <label for="item_id">Permanently delete item</label>
                <input type="text" class="form-control" id="item_id" name="item_id" placeholder="Item_id">
                <span id="item_idHelpBlock" class="help-block">Be sure to enter a valid e-mail, as that's where we'll send alerts.</span>
            </div>
            <button type="submit" class="btn btn-danger">Delete selected item!</button>
        </form>
        <form action="{{ url_for('permanently_delete') }}" method="post">
            <button type="submit" class="btn btn-danger">Clear DB!</button>
        </form>

</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        {%if message != 'You need to be signed in for this page.' %}
            <div class="alert alert-warning flashes" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="list-group">
     {% for i in news %}
    <div  class="list-group-item list-group-item-action" target="_blank">
        <div class="d-flex w-100 justify-content-between">
            <a href="{{i['url']}}"><h5 class="mb-1">{{i['header']}}</h5></a>
            <small>{{i['_id']}}</small>
        </div>
        <p class="mb-1">{{i['summary']}}</p>
        <a href="{{i['url']}}"><small>{{i['url']}}</small></a>
    </div>
    {% endfor %}
</div>
    {% endblock  %}

