{% extends "sample.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        {%if message == 'Your password was wrong. Try again!' %}
            <div class="alert alert-warning flashes" role="alert">{{ message }}</div>
        {% else %}
            <div class="alert alert-warning flashes" role="alert">{{ message }}<a href="{{ url_for('signup') }}"> Sign up .</a></div>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div class="form">
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                       aria-describedby="emailHelpBlock">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
{% endblock %}
